.footer {
  background-color: #0a2850;
  margin: 0;
  min-height: 240px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.footer__circle {
  height: 340px;
  width: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  left: -44px;
  top: -128px;
  z-index: -5;
  pointer-events: none;
}

.footer__content {
  margin: 0 80px 0 80px;
  padding-top: 60px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1400px;
  z-index: 10;
}

.footer__logo {
  z-index: 11;
}

.footer__social {
  color: #fff;
  z-index: 10000;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 20px;
}

.footer__list {
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.list-item {
  padding-bottom: 16px;
}

.social-link {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.social-link:hover {
  color: #c1c1c1;
}

.social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.social-icon:hover {
  opacity: 70%;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding-top: 108px;
  padding-bottom: 60px;
  padding-left: 80px;
}
