.form {
  box-sizing: border-box;
  margin-bottom: 120px auto;
  align-self: center;
}

.form__fieldset {
  max-width: 385px;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  height: 60px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 100%;
  border-color: #838383;
}

.form__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: block;
  max-width: 385px;
  height: 60px;
  width: 100%;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}