.header {
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  margin-bottom: 0;
  height: 100vh;
}

.header__title {
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0;
}

.header__title-span {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  max-width: 683px;
  margin-left: 80px;
  margin-bottom: 175px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
  margin-bottom: 75px;
}

.header__footer {
  box-sizing: border-box;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-left: 80px;
}

.header__paragraph {
  font-style: normal;
  font-weight: 500;
  color: #838383;
  margin: 0;
  z-index: 1000;
  margin-right: 160px;
}

.header__footer-right {
  align-self: flex-end;
}
