.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: 30px;
  top: 30px;
  margin-bottom: 0;
}

.nav__links {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 80px;
  top: 30px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding-right: 10px;
  font-style: normal;
  font-weight: 500;
}

.nav__link:first-child {
  padding-right: 20px;
}