.content {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes {
  margin: 0;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.recipes__header {
  padding-top: 100px;
  margin-left: 80px;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  color: #ffffff;
  margin-top: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 0;
}

.recipes__videos {
  display: flex;
  justify-self: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 215px;
}

.recipes__video-item {
  display: inline-block;
}

.recipes__video-item:first-child {
  margin-right: 40px;
}

.recipes__iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: block;
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
